<section class="py-6 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col lg:flex-row items-center gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-2 sm:gap-6 lg:w-1/2 lg:justify-center">
          <h1 class="text-2xl font-medium tracking-tight sm:text-5xl lg:text-4xl text-left lg:text-left">
            Nutre y protege el cabello de tus clientes con Brazil Cosmetics: ¡Mezcla de ácidos orgánicos, aceites y extractos naturales, ahora en Costa Rica!
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-md sm:text-md text-left lg:text-left">
            Como especialistas en alisados, coloraciones y cosmética capilar profesional, ofrecemos productos orgánicos de alto rendileftmiento y sin formaldehído.
          </p>
          <a
           href="https://api.whatsapp.com/send?phone=50672495763&text=Hola,%20me%20llamo%20[TuNombre],%20vi%20tu%20producto%20en%20tu%20sitio%20web%20y%20me%20interesa%20comprarlo."
           class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
           target="_blank"
           rel="noopener noreferrer">
           Comprar
           </a>

        </div>
        <img
          class="h-auto w-full rounded-3xl lg:w-1/2"
          width="1280"
          height="640"
          src="/assets/hero.webp"
          loading="lazy"
          alt="Hero picture"
        />
      </div>
    </div>
  </div>
</section>
